<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/pmacn/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="x-access-token" />
			<add key="ClearTextPassword" value="%GITHUB_NUGET_TOKEN%" />
		</github>
	</packageSourceCredentials>
</configuration>